body{
    background-color: white;
    font-family: "Inter", sans-serif;
}
#head{
    
    font-size: clamp(5px,5vw,20px);
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    overflow: hidden;
}
#logo{
    margin-left: 4%;
}
#nav-links{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5vw;

    
}
.nav{
    color: black;
    text-decoration: none;
    
    font-size: clamp(5px,5vw,20px);
    
}
#btnhireme{
    width: 14%;
    height: 2.5vw;
    background-color: black;
    color: white;
    font-size: clamp(5px,5vw,18px);
    border-radius: 5px;

}
#body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 40vw;
    
}
#firstline{
    margin-left: 7vw;
    font-size: clamp(20px,12vw,50px);
    text-decoration: solid;
}
#secondline{
    font-weight: 540;
    -webkit-text-stroke: 1px black; 
    margin-left: 18vw;
    font-size: clamp(20px,20vw,75px);
    text-decoration: solid;
    color: rgb(124, 0, 0);
    
    margin-top: 0.1px;
}
#thirdline{
    margin-left: 7vw;
    font-size: clamp(20px,20vw,70px);
    text-decoration: solid;
}
#works{
    font-size: clamp(5px,5vw,20px);
    margin-top: 0px 0;
    padding: 0px;
    margin-left: 5vw;
}
#firstimg{
    
    margin: 2vw;
    width: 40%;
    height: 80%;
    background-image: url(first.jpg);
    background-position: center;
    background-size: cover;
    
}
#introline{
    padding: 0px 0;
    margin: 0px 0;
    margin-left: 5vw;
    font-weight: 520;
    
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 65%;
    height: 11vw;
    font-size: clamp(20px,20vw,75px);
}
#mainintro{
    color: rgb(124, 0, 0);
    text-decoration: underline;
}
#secondbody{
    
    width: 100%;
    height: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
#secondbodytext{
    font-size: clamp(10px,5vw,20px);
    width: 40%;
    height: 50%;
    margin-left: 6vw;
}
#secondimage{
    width: 30%;
    height: 60%;
    
    margin:4vw ;
    background-image: url(second.jpg);
    background-position: center;
    background-size: cover;
}




/*This is copied*/
#Contact_Me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#Contact{
    text-decoration: underline;

}
#Logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    height: 12vh;
    font-size: clamp(4px,8vw,16px);
    

}
#Email_contact{
    font-size: clamp(4px,8vw,16px);
 
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 10vw;
    justify-content: flex-start;
    
    align-items: center;


}
.row{
    display: flex;
    flex-direction: row;
}